<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- 与应用版复用同一个任务及 Activity；不声明平台 UID 或特权权限。 -->
        <activity android:name=".rebuild.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
