<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service android:name="com.yokuli.runtime.marine.navigation.NavigationTrackingService" android:exported="false" android:stopWithTask="false" android:foregroundServiceType="connectedDevice|location" />
        <service android:name="com.yokuli.runtime.marine.notification.NotificationBinderService"
            android:process=":notifications" android:exported="false" android:stopWithTask="false" />
        <service android:name="com.yokuli.runtime.marine.ais.AisMonitoringService"
            android:exported="false" android:stopWithTask="false" android:foregroundServiceType="connectedDevice|location" />
        <receiver android:name="com.yokuli.runtime.marine.ais.AisRestoreReceiver" android:enabled="true" android:exported="true">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED" /></intent-filter>
        </receiver>
    </application>
</manifest>
